{% extends 'base/base.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save"> {% if pk != None %} <a href="{% url 'medicijnen' '' %}">Edit</a> {% endif %}
    </form>
    <h2>Medicijnen</h2>
    {% for medicijn in medicijnen %}
        <strong>Naam:</strong> {{ medicijn.name }} <br>
        <strong>Maaker:</strong> {{ medicijn.manufacturer }} <br>
        <strong>genezing:</strong> {{ medicijn.cures }} <br>
        <strong>Bijeffect:</strong> {{ medicijn.sideEffects }} <br>
        <a href="{% url 'medicijnen' medicijn.pk %}">Edit</a> <a href="{% url 'medicijnendelete' medicijn.pk %}">Delete</a><br>
        <br>

    {%  endfor %}
{% endblock content %}